<launch>
    <!-- Load the URDF into the ROS Parameter Server -->	
    <rosparam command="load" file="$(find j2n6s300_ml)/config/j2n6s300_params.yaml" />
    <param name="robot_description" command="cat $(find ml_using_tf)/urdf/j2n6s300.xarco" />
	<!-- Launch the training system -->
    <node pkg="ml_using_tf" name="j2n6s300_Proxy_gym_env" type="proxy_gym_env_server_DDPG.py" output="screen"/>
</launch>
